@import "../../../assets/public/less/public";
@img:"../../../assets/img";
#rankingList{
    .button2{
        background: url("@{img}/button2.png") no-repeat;    
    }
    
    .icon{
        background: url("@{img}/icon.png") no-repeat;
    }
    
    #content{
        min-width: 982px;
        background: #f5f5f5;
        
        .content{
            width: 980px;
            margin: 0 auto;
            border: 1px solid #d3d3d3;
            border-width: 0 1px;
            min-height: 700px;
            
            .left{
                width: 240px;
                .ib;
                background: #F9F9F9;
                min-height: 700px;
                border-right: 1px solid #d3d3d3;
                box-sizing: border-box;
                padding-top: 40px;
                
                .title{
                    padding: 0 10px 12px 15px;
                    font-size: 14px;
                    color: #000;
                    font-family: simsun,\5b8b\4f53;
                }
                
                .title:not(:first-child){
                    margin-top: 20px;
                }
                
                >div{
                    padding: 12px 0 8px 20px;
                    height: 42px;
                    cursor: pointer;
                    
                    >img{
                        .ib;
                        width: 40px;
                        height: 40px;
                    }
                    
                    >div{
                        .ib;
                        margin-left: 10px;
                        
                        p:last-child{
                            margin-top: 8px;
                            color: #999;
                        }
                    }
                    
                    &.active{
                        background: #E6E6E6;
                    }
                }
            }
            
            .right{
                .ib;
                width: 740px;
                min-height: 700px;
                background: white;
                
                .titleInfo{
                    padding: 40px;
                    
                    .info{
                        .ib;
                        padding-left: 30px;
                        
                        p:first-child{
                            font-size: 20px;
                            margin-top: 16px;
                        }
                        
                        p:nth-child(2){
                            color: #666;
                            height: 35px;
                            line-height: 35px;
                            margin-bottom: 20px;
                            
                            span{
                                .ib;
                                width: 13px;
                                height: 13px;
                                vertical-align: middle;
                                margin-right: 4px;
                                background-position: -18px -682px;
                            }
                        }
                        
                        div:last-child{
                            >span{
                                .ib;
                                cursor: pointer;
                                padding: 4px 6px;
                                background: linear-gradient(white,#eaeaea);
                                margin-right: 8px;
                                border-radius: 4px;
                                border: 1px solid #c1c1c1;
                                box-shadow: 0 0 1px #c1c1c1;
                                color: #5a5757;
                                
                                i{
                                    vertical-align: middle;
                                }
                                
                                &:first-child{
                                    background: linear-gradient(#007aff 30%,blue);
                                    color: white;
                                    padding-right: 32px;
                                    position: relative;
                                    box-shadow: 0 0 1px #007aff;
                                    
                                    >span{
                                        padding: 0 4px;
                                        
                                        i{
                                            margin-right: 3px;
                                        }
                                    }
                                    
                                    >i{
                                        display: inline-block;
                                        width: 26px;
                                        height: 26px;
                                        position: absolute;
                                        border-left: 1px double white;
                                        right: 0;
                                        text-align: center;
                                        top: 0;
                                        line-height: 26px;
                                    }
                                }
                            }
                        }
                    }
                }
                
                .songList{
                    padding: 0 40px;
                    
                    .title{
                        border-bottom: 2px solid #c20c0c;
                        line-height: 32px;
                        
                        >span:first-child{
                            font-size: 20px;
                        }
                        
                        >span:nth-child(2){
                            color: #666;
                            margin-left: 20px;
                        }
                        
                        >span:last-child{
                            float: right;
                            
                            span{
                                color: #c20c0c;
                            }
                        }
                    }
                    
                    ul{
                        border: 1px solid #c1c1c1;
                        
                        li{
                            height:30px;
                            line-height: 30px;
                            
                            &:nth-child(even){
                                background: #f7f7f7;
                            }
                            
                            &:nth-child(odd){
                                background: white;
                            }
                            
                            &:nth-child(-n+4){
                                height: 70px;
                                line-height: 70px;
                            }
                            
                            >span{
                                .ib;
                                &:not(:first-child){
                                    padding-left: 10px;
                                    box-sizing: border-box;
                                    color: #333;
                                }
                            }
                            
                            >span:nth-child(1){
                                width: 78px;
                                
                                span{
                                    .ib;
                                    width:50%;
                                    text-align: center;
                                    color: #999;
                                }
                                
                                .red{
                                    color: orangered;
                                }
                                
                                .orange{
                                    color: orange;
                                }
                                
                                .green{
                                    color: #3dcc2c;
                                }
                                
                                .gray{
                                    color: #999;
                                }
                                
                                .icon-new{
                                    font-size: 24px;
                                }
                                
                                i{
                                    font-size: 12px;
                                }
                            }
                            
                            >span:nth-child(2){
                                width: 396px;
                                
                                >*{
                                    margin-right: 10px;
                                }
                                
                                img{
                                    width: 50px;
                                    height: 50px;
                                }
                                
                                span{
                                    a{
                                        color: #333;
                                    }
                                    
                                    &:last-child{
                                        color: #c1c1c1;
                                        padding-right: 20px;
                                        box-sizing: border-box;
                                    }
                                }
                                
                                >a{
                                    color: #999;
                                    font-size: 16px;
                                    text-decoration: none;
                                    
                                    &:hover{
                                        color: gray;
                                    }
                                }
                            }
                            
                            >span:nth-child(3){
                                width: 91px;
                            }
                            
                            >span:nth-child(4){
                                width: 93px;
                                padding-right: 8px;
                            }
                        }
                        
                        li:first-child{
                            height: 38px;
                            
                            span{
                                .ib;
                                height: 38px;
                                line-height: 38px;
                                background: linear-gradient(white,#eaeaea);
                                box-sizing: border-box;
                                padding-left: 10px;
                                color: #666;
                                
                                &:not(:last-child){
                                    border-right: 1px solid #c1c1c1;
                                }
                            }
                        }
                        
                        
                    }
                }
            }
        }
    }
}
