@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1555131599637') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qinggan:before {
  content: "\e600";
}

.icon-kafeiting:before {
  content: "\e66b";
}

.icon-diqiu:before {
  content: "\e60a";
}

.icon-arrow-left:before {
  content: "\e645";
}

.icon-arrow-right:before {
  content: "\e646";
}

.icon-new:before {
  content: "\e61f";
}

.icon-xiangshangjiantou:before {
  content: "\e62f";
}

.icon-xiangxiajiantou:before {
  content: "\e630";
}

.icon-wo:before {
  content: "\e663";
}

.icon-bofang:before {
  content: "\e606";
}

.icon-tianjia:before {
  content: "\e71c";
}

.icon-subtract:before {
  content: "\e608";
}

.icon-fenggepitchon:before {
  content: "\e623";
}

.icon-theme:before {
  content: "\e66f";
}

.icon-xiazai:before {
  content: "\e624";
}

.icon-zhuanfa:before {
  content: "\e63b";
}

.icon-pinglun:before {
  content: "\e61e";
}

.icon-shoucang:before {
  content: "\e605";
}

