.ib{
    display: inline-block;
    vertical-align: top;
}
.contentSize{
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    min-height: calc(100vh - 240px);
}
.rela{
    position: relative;
}
.abso{
    position: absolute;
}
.center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.textHide{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
