@import "../../../assets/public/less/public";
@img:"../../../assets/img";
#index{
    .banner{
        background: url("@{img}/banner.png") no-repeat;
    }
    
    .download_{
        background: url("@{img}/download.png") no-repeat;
    }
    
    .index{
        background: url("@{img}/index.png") no-repeat;
    }
    
    .date{
        background: url("@{img}/date.png") no-repeat;
    }
    
    .icon2{
        background: url("@{img}/icon2.png") no-repeat;
    }
    
    .button2{
        background: url("@{img}/button2.png") no-repeat;
    }
    
    .coverall{
        background: url("@{img}/coverall.png") no-repeat;
    }
    
    .index_bill{
        background: url("@{img}/index_bill.png") no-repeat;
    }
    
    #banner{
        height: 336px;
        
        .content{
            .rela;
            width: 982px;
            height: 336px;
            margin: 0 auto;
            .center;
            left: 50%;
            
            >.bg{
                position: absolute;
                height: 100%;
            }
            
            
            .banner{
                .rela;
                
                >.banner-content{
                    height: 336px;
                    
                    >div{
                        visibility: hidden;
                        float: left;
                        display: none;
                    }
                    
                    >div.active{
                        visibility: visible;
                        display: inline-block;
                    }
                    
                    .bg{
                        position: absolute;
                    }
                }
               
                .left{
                    .middle;
                    left: -68px;
                    background-position: 0 -360px;
                    width: 37px;
                    height: 63px;
                    cursor: pointer;
                }
                
                .right{
                    .middle;
                    right: -68px;
                    background-position: 0 -508px;
                    width: 37px;
                    height: 63px;
                    cursor: pointer;
                }
            }
            
            span{
                .abso;
            }
            
            .download{
                .abso;
                right: 0;
                top: 0;
                z-index: 20;
                width: 254px;
                height: 336px;
                box-shadow: 0px 0 10px #333;
                
                .click_download{
                    display: block;
                    width: 215px;
                    height: 56px;
                    margin: 212px 0 0 19px;
                    background-position: 0 9999px;
                    text-indent: -9999px;
                    
                    &:hover{
                        background-position: 0 -340px;
                        text-decoration: none;
                    }
                }
                
                p{
                    margin: 10px auto;
                    text-align: center;
                    color: #8d8d8d;
                }
            }
        }
    }
    
    #content{
        background: #f5f5f5;
        
        .content{
            width: 980px;
            border: 1px solid #d3d3d3;
            margin: 0 auto;
            background: white;
            border-width: 0 1px;
            
            .left{
                width: 730px;
                padding: 20px 20px 40px;
                .ib;
                box-sizing: border-box;
                border-right: 1px solid #d3d3d3;
                
                .hot{
                    
                    .title{
                        height: 33px;
                        padding: 0 10px 0 34px;
                        background-position: -225px -156px;
                        border-bottom: 2px solid #C10D0C;
                        margin-bottom:20px;
                        
                        >span:first-child{
                            font-size: 20px;
                            margin-right: 20px;
                        }
                        
                        ul{
                            display: inline-block;
                            line-height: 12px;
                            
                            li{
                                .ib;
                                border-right: 2px solid #ccc;
                                padding: 0 14px;
                                font-size: 12px;
                                line-height: 12px;
                            }
                            
                            li:last-child{
                                border: none;
                            }
                        }
                        
                        >span:last-child{
                            float: right;
                            line-height: 33px;
                            
                            i{
                                display: inline-block;
                                width: 12px;
                                height: 12px;
                                margin-left: 4px;
                                vertical-align: middle;
                                background-position: 0 -240px;
                            }
                        }
                    }
                    
                    .Album{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        
                        .album{
                            margin-right: 1%;
                        }
                    }
                }
                
                .style{
                    .datealbum{
                        
                        .date{
                            &:hover{
                                text-decoration: none;
                            }
                            
                            .ib;
                            background-position: 0 0;
                            width: 140px;
                            height: 140px;
                            
                            .week{
                                display: block;
                                height: 33px;
                                line-height: 33px;
                                color: #fed9d9;
                                font-size: 14px;
                                text-shadow: 0 -1px #962626;
                                text-align: center;
                            }
                            
                            .todayDate{
                                display: block;
                                line-height: 102px;
                                text-align: center;
                                font-size: 94px;
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: bold;
                                color: #202020;
                            }
                            
                            .datebg{
                                .abso;
                                top: 33px;
                                left: 0;
                                width: 142px;
                                height: 107px;
                                background-position: 0 -150px;
                            }
                        }
                        
                    }
                }
                
                .newAlbum{
                    .Album{
                        height: 186px;
                        margin: 20px 0 37px;
                        border: 1px solid #d3d3d3;
                        background: #f5f5f5;
                        
                        .swiper-container{
                            width: 100%;
                            
                            .swiper-slide{
                                ul{
                                    margin: 28px 0 0 0;
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 0 34px;
                                    
                                    li{
                                        width: 118px;
                                        height: 150px;
                                        .ib;
                                        background-position: -260px 100px;
                                        
                                        >div{
                                            position: relative;
                                            margin-bottom: 7px;
                                            
                                            .bg{
                                                display: block;
                                                position: absolute;
                                                width: 118px;
                                                height: 100px;
                                                background-position: 0 -570px;
                                                top: 0;
                                                left: 0;
                                            }
                                        }
                                        
                                        p{
                                            .textHide;
                                            width: 85%;
                                        }
                                    }
                                }
                            }
                            
                            .swiper-button-prev{
                                background-position: -260px -75px;
                                width: 17px;
                                height: 17px;
                            }
                            
                            .swiper-button-next{
                                background-position: -300px -75px;
                                width: 17px;
                                height: 17px;
                            }
                        }
                    }
                }
                
                .rankingList{
                    
                    .rankingList_value{
                        font-size: 0;
                        height: 472px;
                        
                        >ul{
                            .ib;
                            width: 33.33%;
                            
                            li:first-child{
                                padding: 20px;
                                box-sizing: border-box;
                                height: 120px;
                                
                                >div:first-child{
                                    .ib;
                                    .rela;
                                    
                                    img{
                                        width: 80px;
                                        height: 80px;
                                    }
                                    
                                    a{
                                        .ib;
                                        .abso;
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-position: -145px -57px;
                                    }
                                }
                                
                                >div:last-child{
                                    .ib;
                                    margin: 6px 0 0 10px;
                                    
                                    >a{
                                        h3{
                                            font-size: 14px;
                                        }
                                    }
                                    
                                    p{
                                        margin-top: 10px;
                                        
                                        a{
                                            display: block;
                                            float: left;
                                            width: 22px;
                                            height: 22px;
                                            margin-right: 10px;
                                            text-indent: -9999px;
                                        }
                                        a:first-child{
                                            background-position: -267px -205px;
                                            
                                            &:hover{
                                                background-position: -267px -235px;
                                            }
                                        }
                                        
                                        a:last-child{
                                            background-position: -300px -205px;
                                            
                                            &:hover{
                                                background-position: -300px -235px;
                                            }
                                        }
                                    }
                                }
                            }
                            
                            li:not(:first-child){
                                height: 32px;
                                line-height: 32px;
                                font-size: 12px;
                                padding-left: 24px;
                                position: relative;
                                
                                >span{
                                    .ib;
                                    width: 24px;
                                    text-align: center;
                                    margin-right: 10px;
                                    font-size: 16px;
                                }
                                
                                >a{
                                    .ib;
                                    height: 32px;
                                    line-height: 32px;
                                    width: calc(100% - 34px);
                                    .textHide;
                                }
                                
                                >a:hover ~div{
                                    display: block;
                                }
                                
                                >a:hover{
                                    width: calc(100% - 120px);
                                }
                                
                                >div{
                                    display: none;
                                    position: absolute;
                                    width: 82px;
                                    top: 0;
                                    height: 32px;
                                    padding-top: 7px;
                                    right: 0;
                                    
                                    >a{
                                        float: left;
                                        width: 17px;
                                        height: 17px;
                                        margin-right: 10px;
                                    }
                                    
                                    >.player{
                                        background-position: -267px -268px;
                                        
                                        &:hover{
                                            background-position: -267px -288px;
                                        }
                                    }
                                    
                                    >.addlist{
                                        margin: 2px 6px 0 0;
                                        background-position: 0 -700px;
                                        
                                        &:hover{
                                            background-position: -22px -700px;
                                        }
                                    }
                                    
                                    >.collect{
                                        background-position: -297px -268px;
                                        
                                        &:hover{
                                            background-position: -297px -288px;
                                        }
                                    }
                                }
                                
                                >div:hover{
                                    display: block;
                                }
                                
                                >div:hover ~a{
                                    width: calc(100% - 120px);
                                }
                            }
                            
                            li:nth-child(2),li:nth-child(3),li:nth-child(4){
                                >span{
                                    color: #c10d0c;
                                }
                            }
                            
                            li:last-child{
                                padding-right: 20px;
                                text-align: right;
                            }
                        }
                    }
                }
            }
            
            .right{
                width: 250px;
                .ib;
                height: 100%;
                
                .userinfo{
                    height: 165px;
                    padding-top: 20px;
                    background-position: 0 -270px;
                    
                    >div{
                        
                        >a{
                            .ib;
                            width: 80px;
                            height: 80px;
                            padding: 2px;
                            margin-left: 20px;
                            border: 1px solid #dadada;
                            
                            img{
                                width: 100%;
                            }
                        }
                        
                        >div{
                            .ib;
                            margin-left: 20px;
                            height: 100%;
                            padding-top: 3px;
                            
                            .name{
                                color: #333;
                                font-weight: bold;
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 14px;
                            }
                            
                            .level{
                                margin-top: 5px;
                                display: inline-block;
                                height: 17px;
                                overflow: hidden;
                                line-height: 18px;
                                font-weight: bold;
                                font-style: italic;
                                background-position: -130px -64px;
                                
                                a{
                                    color: #999;
                                    padding-left: 25px;
                                }
                                
                                i{
                                    width: 8px;
                                    height: 17px;
                                    background-position: -192px -64px;
                                    float: right;
                                }
                            }
                            
                            .status{
                                margin-top: 10px;
                                
                                a{
                                    display: inline-block;
                                    height: 31px;
                                    line-height: 31px;
                                    background-position: right -346px;
                                    cursor: default;
                                    padding: 0 5px 0 0;
                                    
                                    i{
                                        background-position: 0 -305px;
                                        color: #bebebe;
                                        display: inline-block;
                                        height: 31px;
                                        line-height: 31px;
                                        color: #bebebe;
                                        padding: 0 15px 0 20px;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }
                    
                    >ul{
                        margin: 22px 0 0 20px;
                        
                        li{
                            .ib;
                            padding: 0 22px; 
                            border-left: 1px solid #e4e4e4;
                            
                            &:first-child{
                                padding: 0 22px 0 0;
                                border: none;
                            }
                            
                            a{
                                display: block;
                                
                                div:first-child{
                                    font-size: 20px;
                                    color: #666;
                                }
                                
                                div:last-child{
                                    font-size: 12px;
                                    color: #666;
                                }
                            }
                            
                            a:hover{
                                text-decoration: none;
                                
                                div{
                                    color: #0c73c2;
                                }
                            }
                        }
                    }
                }
                
                .singer{
                    padding: 15px 20px;
                    
                    .title{
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 7px;
                        
                        h4{
                            .ib;
                        }
                        
                        a{
                            float: right;
                        }
                    }
                    
                    ul{
                        
                        li{
                            margin-top: 14px;
                            
                            a{
                                display: block;
                                width: 210px;
                                height: 62px;
                                background: #fafafa;
                                
                                &:hover{
                                    background: #f4f4f4;
                                }
                                
                                >div:first-child{
                                    .ib;
                                    width: 62px;
                                    height: 62px;
                                }
                                
                                >div:last-child{
                                    .ib;
                                    border: 1px solid #e9e9e9;
                                    width: 133px;
                                    height: 60px;
                                    padding-left: 14px;
                                    border-left: none;
                                    
                                    h4{
                                        font-size: 14px;
                                    }
                                    
                                    *{
                                        margin-top: 8px;
                                        .textHide;
                                        padding-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                    
                    >a{
                        .ib;
                        width: 100%;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                        margin-top: 16px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-weight: bold;
                        background: linear-gradient(white,#F5F5F5 98%);
                    }
                }
                
                .anchor{
                    padding: 15px 20px;
                    
                    .title{
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 7px;
                        margin-bottom: 20px;
                    }
                    
                    ul{
                        li{
                            width: 210px;
                            height: 50px;
                            
                            >a{
                                .ib;
                                width: 40px;
                                margin-right: 10px;
                            }
                            
                            >div{
                                .ib;
                                width: 160px;
                                line-height: 21px;
                                
                                span{
                                    .ib;
                                    width: 11px;
                                    height: 13px;
                                    background-position: 0 1px;
                                    vertical-align: text-bottom;
                                    margin-left: 6px;
                                }
                                
                                p:last-child{
                                    color: #666;
                                    .textHide;
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
