#footer{
    position: relative;
    height: 148px;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    background: #f2f2f2;
    
    .content{
        width: 980px;
        margin: 0 auto;
    }
}
